<ng-container *ngIf="side?.glowing as glowing">
  <div class="state-changer-wrapper">glowing: <span class='state-changer' (click)="side.switchLight()">{{ glowing.active ? 'active' : 'inactive' }}</span></div>
  <ng-container *ngIf="glowing.active">
    <div class="state-changer-wrapper">lightLevel = <span class='state-changer' (click)="side.changeLightLevel()">{{ lightLevels[glowing.lightLevel] }}</span></div>
    <div class="state-changer-wrapper">lightColor = <span class='state-changer' (click)="side.changeLightColor()">{{ lightColors[glowing.lightColor] }}</span></div>
  </ng-container>
</ng-container>
