<div>
  light:
  <button class="control-btn" (click)="lightOn()" data-test="cube-controls_button_lightOn">light on</button>
  <button class="control-btn" (click)="lightOff()" data-test="cube-controls_button_lightOff">light off</button>
  <button class="control-btn" (click)="switchLight()" data-test="cube-controls_button_switchLight">switch light</button>
</div>

<div>
  light color:
  <button class="control-btn" *ngFor="let lightColor of lightColors" (click)="changeLightColor(lightColor.id)" [attr.data-test]="'cube-controls_button_changeLightColor_' + lightColor.name">{{lightColor.name}}</button>
</div>

<div>
  light level:
  <button class="control-btn" *ngFor="let lightLevel of lightLevels" (click)="changeLightLevel(lightLevel.id)" [attr.data-test]="'cube-controls_button_changeLightLevel_' + lightLevel.name">{{lightLevel.name}}</button>
</div>
