@mixin glowing($color) {
  @for $i from 0 through 2 {
    &--#{'' + $color}#{$i} {
      box-shadow: 0 0 ($i + 1)*5px $color;
    }
  }
}


:host {
  display: block;
  padding: 20px;
  text-align: center;
}

button {
  margin: 10px;
}

.cube {
  .sides-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__side {
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    &--glowing {
      @include glowing(red);
      @include glowing(aquamarine);
    }
  }
}
