<div *ngFor="let element of elements; let i = index" class="element">
  <mat-form-field appearance="fill" class="field">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <button mat-mini-fab aria-label="delete" matTooltip="delete" class="btn" (click)="deleteElement(i)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<button mat-raised-button aria-label="add" matTooltip="add" (click)="addElement()">
  <mat-icon>add</mat-icon>
</button>
